                             Muhammad Sarmad Chughtai

                                     54915

                                    BSCS 6-1

                                List in Python

In [9]:

myList = ["Sarmad",54915,"BSCS 6-1"] # List

print("About me: ",myList) # print myList

print("Total length is: ",len(myList)) # length of the list

print("Data type is: ",type(myList)) # displaying datatype

print("My sap id: ",myList[1]) # indexing

myList.append("RIPHAH") # adding element in list

print(myList)

for i in myList: # displaying element through for loop
  print(i)

# ------------------------------------------------------------------------------

About me:  ['Sarmad', 54915, 'BSCS 6-1']
Total length is:  3
Data type is:  <class 'list'>
My sap id:  54915
['Sarmad', 54915, 'BSCS 6-1', 'RIPHAH']
Sarmad
54915
BSCS 6-1
RIPHAH

Lab Task

1. Append() function

In [10]:
Fruits = ["Apple",150,"Banana",200,"Orange",250,"Mango",300]

Fruits.append("Graps")

Fruits.append(400)

print(Fruits)

['Apple', 150, 'Banana', 200, 'Orange', 250, 'Mango', 300, 'Graps', 400]

2. Clear() function

In [11]:
Fruits = ["Apple",150,"Banana",200,"Orange",250,"Mango",300]

Fruits.clear()

print(Fruits)

[]

3. Copy() function

In [17]:
Fruits = ["Mango",150,"Banana",200,"Apple",300,"Oranges",400]

Vegetables = []

Vegetables = Fruits.copy()

print(Vegetables)

['Mango', 150, 'Banana', 200, 'Apple', 300, 'Oranges', 400]

4. Count() function

In [19]:
Fruits = ["Mango",150,"Banana",200,"Banana",300,"Oranges",400]
total = Fruits.count("Banana")
print("Total: ",total)

Total:  2

5. extend() function

In [22]:
Fruits = ["Mango",150,"Banana",200,"Apple",300,"Oranges",400]
Vegetables = ["Tomato",400]
Fruits.extend(Vegetables)

print(Fruits)

['Mango', 150, 'Banana', 200, 'Apple', 300, 'Oranges', 400, 'Tomato', 400]

6. Index() function

In [25]:
Fruits = ["Mango",150,"Banana",200,"Apple",300,"Oranges",400]

print(Fruits[4])

Apple

7. Insert() function

In [26]:
Fruits = ["Mango",150,"Banana",200,"Apple",300,"Oranges",400]

Fruits.insert(2,"Graps")

print(Fruits)

['Mango', 150, 'Graps', 'Banana', 200, 'Apple', 300, 'Oranges', 400]

8. Pop() function

In [27]:
Fruits = ["Mango",150,"Banana",200,"Apple",300,"Oranges",400]

Fruits.pop(3)

print(Fruits)

['Mango', 150, 'Banana', 'Apple', 300, 'Oranges', 400]

9. Remove() function

In [28]:
Fruits = ["Mango",150,"Banana",200,"Apple",300,"Oranges",400]

Fruits.remove("Apple")

print(Fruits)

['Mango', 150, 'Banana', 200, 300, 'Oranges', 400]

10. Reverse() function

In [29]:
Fruits = ["Mango",150,"Banana",200,"Apple",300,"Oranges",400]

Fruits.reverse()

print(Fruits)

[400, 'Oranges', 300, 'Apple', 200, 'Banana', 150, 'Mango']

11. Sort() function

In [30]:
Fruits = ["Banana","Apple","Orange","Mango"]

Fruits.sort()

print(Fruits)

['Apple', 'Banana', 'Mango', 'Orange']

Bonus Point- GPA Calculator in python

In [32]:
print("Welcome to my GPA calculator")

total_courses = int(input("Enter your total number of courses: "))

total_points = 0
total_credits = 0

for i in range(total_courses):
    print("\nCourse", i + 1)

    course = input("Enter your course name: ")
    credit_hours = int(input("Enter your credit hours: "))
    obtain_marks = int(input("Enter your obtained marks: "))

    if obtain_marks >= 80:
        grade_points = 4.0
    elif obtain_marks >= 75:
        grade_points = 3.7
    elif obtain_marks >= 70:
        grade_points = 3.3
    elif obtain_marks >= 65:
        grade_points = 3.0
    elif obtain_marks >= 60:
        grade_points = 2.7
    elif obtain_marks >= 55:
        grade_points = 2.3
    elif obtain_marks >= 50:
        grade_points = 2.0
    elif obtain_marks >= 45:
        grade_points = 1.7
    else:
        grade_points = 0.0

    total_points += grade_points * credit_hours
    total_credits += credit_hours

gpa = total_points / total_credits
print("\nYour GPA is:", round(gpa, 2))

Welcome to my GPA calculator
Enter your total number of courses: 5

Course 1
Enter your course name: Mobile Application Development
Enter your credit hours: 3
Enter your obtained marks: 70

Course 2
Enter your course name: Advance Computer Programming
Enter your credit hours: 3
Enter your obtained marks: 85

Course 3
Enter your course name: Human Computer Interaction
Enter your credit hours: 3
Enter your obtained marks: 75

Course 4
Enter your course name: Theory of Automata
Enter your credit hours: 3
Enter your obtained marks: 70

Course 5
Enter your course name: Database
Enter your credit hours: 3
Enter your obtained marks: 85

Your GPA is: 3.66